<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="AudiovisualesDBEntities" connectionString="metadata=res://*/AudioVisualesDB.csdl|res://*/AudioVisualesDB.ssdl|res://*/AudioVisualesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FEOFQEP;initial catalog=AudiovisualesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="AudiovisualesDBEntities1" connectionString="metadata=res://*/audioVisualesDB.csdl|res://*/audioVisualesDB.ssdl|res://*/audioVisualesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FEOFQEP;initial catalog=AudiovisualesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>